html {
    box-sizing: border-box;
  }
  * {
    font-family: Open Sans, Tahoma, Roboto;
  }
  h1 {
    font-size: 30px;
    font-weight: normal;
    text-align: left;
  }
  p {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px
  }
  nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: 1px solid rgb(27, 27, 27);
    position: fixed;

  }
  @media (width = 500px) {
    nav {
        width: 20%
    }
    nav h1 {
        width: 19%
    }
    nav-link {
        width: 15%
    }
  }
  nav h1 {
    margin: 20% o;
    padding-left: 20px;
    max-width: 60%
  }
  span {
    font-weight: bold;
  }
  .nav-link {
    border-top: 1px solid rgb(27, 27, 27);
    padding: 20px;
    justify-content: center;
    color: rgb(27, 27, 27);
    text-decoration: none;
  }
  .main-container {
    width: 60%;
    margin-left: 30%
  }
  .main-section {
    margin: 20px;
  }
  main {
    display: flex;
  }
  section {
    margin: 20px auto;
    padding: 10px;
    width: 
  }
  h3 {
    font-weight: normal;
  }
  h2 {
    font-weight: normal;
  }
  .verse {
    background-color: rgb(242, 242, 242);
    min-width: 30%;
    padding: 20px;
    max-height: 10%;
    margin: 20px; 
  }
  .verse p {
  
  }